.navbar {
  display: flex;
  /* position: absolute;
    z-index: 2; */
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.image {
  width: 100px;
  height: 30px;
  margin-left: 50px;
  margin-top: 2px;
}
.navbar h2.name1 {
  height: 60px;
  margin-left: -5px;
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar h2.name2 {
  height: 60px;

  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #159dd4;
}
.navcontent {
  margin-top: 15px;
  margin-left: 10px;
}
li {
  display: inline;
  padding-left: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 5px;

  margin-left: 10px;
  margin-right: 20px;
  font-size: 20px;

  width: 200px;
  text-align: center;
  background-color: #39b385;

  border-radius: 10px;
  color: white;
}
ul {
  display: flex;
}
li:hover {
  background-color: #e52a5a;
  color: white;
  border-radius: 10px;
}
.profilepic {
  width: 50px;
  height: 60px;
  margin-left: 20px;
  margin-top: 5px;
}
.profilename {
  margin-top: 22px;
  margin-left: 20px;
}
